language: c
sudo: false
env:
  global:
    - RACKET_DIR=~/racket
  matrix:
    - RACKET_VERSION="6.9"
    - RACKET_VERSION="6.10"
    - RACKET_VERSION="6.10.1"
    - RACKET_VERSION="HEAD"
matrix:
  allow_failures:
    - env: RACKET_VERSION="HEAD"

before_install:
  # racket
  - git clone https://github.com/greghendershott/travis-racket.git ../travis-racket
  - cat ../travis-racket/install-racket.sh | bash
  - export PATH="${RACKET_DIR}/bin:${PATH}"
  # turnstile (use git head)
  - git clone https://github.com/stchang/macrotypes.git ../macrotypes
  - raco pkg install --auto -n turnstile ../macrotypes
  # rosette (use stchang)
  - git clone https://github.com/stchang/rosette.git ../rosette
  - raco pkg install --auto -n rosette ../rosette
  # xvfb, enables gtk
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3 # give xvfb some time to start

install:
 - raco pkg install -j 1 --auto -n typed-rosette

script:
 - raco test --package typed-rosette
 # Install the Typed Rosette version of Ocelot
 - raco pkg install -j 1 --auto git://github.com/AlexKnauth/ocelot#typed-rosette
 - raco setup

after_success:
 # this currently fails 1 out of 728 tests
 - raco test --package ocelot
